HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Project ###
src/main/java/
!src/main/java/org/example/dao/BaseMapper.java
!src/main/java/org/example/model/QueryExample.java
!src/main/java/org/example/plugins/**
!src/main/java/org/example/App.java
src/main/resources/mapper
!src/main/resources/mapper/BaseMapper.xml